# Introductory Python for Numerical Analysis

In [1]:
# to excute a cell press shift+enter
print("Numerical Analysis")

Numerical Analysis

##  1) Variables

In [3]:
'''
 Python is case sensitive 
 Rules for the variables(names) in python
 Variable names are case sensitive: uppercase / lowercase letters
 Variables names can start with letter or underscore_ 
 but can't start with digit but can contains
'''

var = 1
Var = 2
print(var)
print(Var)

1
2

In [4]:
# Names can be combination of letters, digits, and underscore
var1 = 3
var_1 = 4
_var1 = 5
print(var1)
print(var_1)
print(_var1)

3
4
5

In [5]:
# Names can not start with a number
1_var = 6
print(1_var)

SyntaxError: invalid decimal literal (4102537848.py, line 2)

In [6]:
# understand the error: _ can be used as a thousand separator for Python >= 3.6
100_000

100000

In [7]:
# Keywords can not be used as variable names
if = 4

SyntaxError: invalid syntax (135169702.py, line 2)

In [8]:
# ok, how can we see a list of the keywords?
import keyword
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'issoftkeyword',
 'kwlist',
 'softkwlist']

In [10]:
help(keyword.iskeyword)

Help on built-in function __contains__:

__contains__(...) method of builtins.frozenset instance
    x.__contains__(y) <==> y in x.

In [11]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
keyword.iskeyword("if")

True

In [13]:
keyword.iskeyword("bora")

False

In [20]:
# if you are worried about the name, or intentionally want to use keyword as a variable name, then use underscore at the end
if_ = 5


# or use keywords as a variable name in uppercase
If = 6


IF =7

if_,If,IF

(5, 6, 7)

In [21]:
# Primitive Variable Types
a = 5
b = 7.34
c = "Bora"
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [22]:
# Multiple assignments
v1, v2, v3, v4 = 5, 7.34, "Bora", True
print(v1, v2, v3, v4)

5 7.34 Bora True

In [41]:
# Swapping the variables
'''
swapping variables in another way
temp = v1
v1 = v2
v2 = temp
v1,v2

'''
v1, v2 = v2, v1
print(v1, v2)

7.34 5

In [42]:
# swapping variables in another way
temp = v1
v1 = v2
v2 = temp
v1,v2

(5, 7.34)

In [56]:
# Formatted Output
print("v1 = ", v1, " | v2 = ", v2, " | v3 = ", v3, " | v4 = ", v4)
print("v1 = %d | v2 = %e | v3 = %s | v4 = %s" % (v1, v2, v3, v4))
print("v1 = {0} | v2 = {1} | v3 = {2} | v4 = {3}".format(v1, v2, v3, v4))
print(f"v1 = {v1} | v2 = {v2} | v3 = {v3} | v4 = {v4}")
print(f"{v1:05d} {v2:.4f} {v2:12.6f} {v2:12.1e}")

# 'd' (digit) for integers
# 'f' for floating-point numbers
# 'b' for binary numbers
# 'o' for octal numbers
# 'x' for hexadecimal numbers
# 's' for string
# 'e' for floating-point in an exponent format

v1 =  5  | v2 =  7.34  | v3 =  Bora  | v4 =       7.340000
v1 = 5 | v2 = 7.340000e+00 | v3 = Bora | v4 =      7.340000
v1 = 5 | v2 = 7.34 | v3 = Bora | v4 =      7.340000
v1 = 5 | v2 = 7.34 | v3 = Bora | v4 =      7.340000
00005 7.3400    7.340000     7.3e+00

In [58]:
# Typecasting
print(float(12))
print(int(4.6))
print(bool(0))
print(str(7.62))

12.0
4
False
7.62

In [59]:
# Strings are sequences. Sequences are an object type in Python that allows user to store multiple values.
# If they are sequences then we can use indexing and slicing
name = "Numerical Analysis"
print(name[0])
print(name[11])
print(len(name))
print(name[len(name)-1])
print(name[-1])
print(name[-3])
print(name[-len(name)])
print(name[0:9])
print(name[:9])
print(name[10:])
print(name[:])
print(name[0:9:3])
print(name[8:0:-1])
print(name[::-1])

N
n
18
s
s
s
N
Numerical
Numerical
Analysis
Numerical Analysis
Nec
laciremu
sisylanA laciremuN

In [60]:
# Loops and Range
for i in range(len(name)):
    print(name[i], end='') # help(print)
print('')
for i in range(2, 10):
    print(name[i], end='')
print('')
for i in range(2, 10, 2):
    print(name[i], end='')
print('')
for i in range(10, 2, -2):
    print(name[i], end='')
print('')
for c in name:
    print(c, end='')

Numerical Analysis
merical
mrcl
Alcr
Numerical Analysis

## 2) Sequences in Python
### Lists
Ordered and mutable sequence of values indexed by integer numbers.

In [1]:
# initialize
a_list = []
print(f"initialize: {a_list} {type(a_list)}")
# append (adding an element to the end)
a_list.append(7)
a_list.append(9)
a_list.append(3)
print(f"append: {a_list}")
# access an element
print(f"access: {a_list[2]}")
# insert an element with an index
a_list.insert(1, 5)
print(f"insert: {a_list}")
# update an element
a_list[2] = 4
print(f"update: {a_list}")
# removing an element
del a_list[1]
print(f"remove: {a_list}")

initialize: [] <class 'list'>
append: [7, 9, 3]
access: 3
insert: [7, 5, 9, 3]
update: [7, 5, 4, 3]
remove: [7, 4, 3]

In [2]:
dir(a_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
help(a_list.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [6]:
a_list.sort()
print(a_list)

[3, 4, 7]

## Tuples
Ordered and immutable sequence of values indexed by integer numbers.

In [8]:
# initialize
a_tuple = (3, 5, 7, 9)
print(f"initialize: {a_tuple} {type(a_tuple)}")
# immutable: no append, no update, no remove
# access an element
print(f"access: {a_tuple[2]}")
# removing the whole tuple
del a_tuple
print(a_tuple)

initialize: (3, 5, 7, 9) <class 'tuple'>
access: 7

NameError: name 'a_tuple' is not defined

## Sets
Unordered and mutable collection of values with no duplicate element. They support mathematical operations like union, intersection, difference, and symmetric difference.

In [13]:
# initialize
a_set = {3, 5, 5, 7, 7, 7, 9, 9, 9, 3, 5, 7, 9}
print(f"initialize: {a_set} {type(a_set)}")
# add
a_set.add(7)
a_set.add(9)
a_set.add(1)
print(f"add: {a_set}")
# unordered: no access, no insert, no update
# removing an element (with the value)
a_set.remove(9)
a_set.discard(8) # a_set.remove(8) raises a key error
a_set.discard(7)
print(f"remove: {a_set}")
# delete completely
del a_set
# remove all elements rather than deleting the set
a_set = set([3, 5, 7])
print(f"fill again: {a_set}")
a_set.clear()
print(f"empty set: {a_set}")
# union of two sets
a_set_1 = {1, 2, 3, 5, 7}
a_set_2 = {1, 2, 4, 6, 8}
print(f"union of two sets: {a_set_1 | a_set_2}")
# intersection of two sets
print(f"intersection of two sets: {a_set_1 & a_set_2}")
# difference of two sets
print(f"difference of two sets: {a_set_1 - a_set_2} {a_set_2 - a_set_1}")
# symmetrical difference of two sets
print(f"symmetrical difference of two sets: {a_set_1 ^ a_set_2}")

initialize: {9, 3, 5, 7} <class 'set'>
add: {1, 3, 5, 7, 9}
remove: {1, 3, 5}
fill again: {3, 5, 7}
empty set: set()
union of two sets: {1, 2, 3, 4, 5, 6, 7, 8}
intersection of two sets: {1, 2}
difference of two sets: {3, 5, 7} {8, 4, 6}
symmetrical difference of two sets: {3, 4, 5, 6, 7, 8}

## Dictionaries
Unordered and mutable set of key-value pairs.

In [14]:

# initialize
a_dict = {}
print(f"initialize: {a_dict} {type(a_dict)}")
# add an element with a key
a_dict["first_name"] = "Bora"
a_dict["last_name"] = "Canbula"
a_dict["age"] = 37
print(f"add: {a_dict}")
# access an element
print(f"access: {a_dict['first_name']}")
# list the keys or values
print(f"keys: {a_dict.keys()}")
print(f"keys: {a_dict.values()}")
# update an element
a_dict["age"] = 38
print(f"update: {a_dict['age']}")
# removing an element
del a_dict["last_name"]
print(f"remove: {a_dict}")
# removing all elements
a_dict.clear()
print(f"clear: {a_dict}")

initialize: {} <class 'dict'>
add: {'first_name': 'Bora', 'last_name': 'Canbula', 'age': 37}
access: Bora
keys: dict_keys(['first_name', 'last_name', 'age'])
keys: dict_values(['Bora', 'Canbula', 37])
update: 38
remove: {'first_name': 'Bora', 'age': 38}
clear: {}